# only allow html pages
<FilesMatch "(?i)\.(php|cgi|sh)$">
  Order Deny,Allow
  Deny from All
</FilesMatch>

# redirect to index.html
RewriteEngine on
RewriteBase /netscaler/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.html [L,R=301]
